<!-- display charts -->

<canvas
  ng-if="chart.type.id === 'horizontal-bar' || chart.type.id === 'horizontal-stack-bar'"
  class="chart chart-horizontal-bar"
  chart-data="chart.data"
  chart-labels="chart.labels"
  chart-colors="chart.colours"
  chart-options="chart.options"
  chart-series="chart.series"
></canvas>
<canvas
  ng-if="chart.type.id !== 'horizontal-bar' && chart.type.id !== 'horizontal-stack-bar'"
  class="chart chart-base {{chart.type.class}}"
  chart-type="chart.type.type"
  chart-data="chart.data"
  chart-labels="chart.labels"
  chart-colors="chart.colours"
  chart-options="chart.options"
  chart-series="chart.series"
></canvas>
