<div ng-controller="cwCustomQueryController">
  <div data-target-scriptname="{{::node.mmNode.ObjectTypeScriptName.toLowerCase()}}" data-node-id="{{::node.nodeID}}" class="cwLayoutCustomQuery-details property-box {{::node.nodeID}}-node-box property-box-asso cw-visible">
    <ul class="htmlbox-container property-details {{::node.nodeID}}-details">
      <li id="htmlbox-header-{{::node.nodeID}}" class="htmlbox-header property-details {{::node.nodeID}}-details property-title {{::node.nodeID}}-title">
        <div class="cw-property-details-left">
          <label class="cw-property-title-displayname">{{$root.cwApi.mapToTranslation(node.mmNode.NodeName)}}</label>
        </div>
        <div class="cw-property-details-filter-right">
          <div class="icons-container">
            <div class="btn page-action no-text chart-icon icon" ng-click="chart.displaySettings=!chart.displaySettings" ng-class="{'icon-activated':chart.displaySettings, '':!chart.displaySettings}">
              <i class="fa fa-gear"></i>
            </div>
            <div class="btn page-action no-text filter-icon icon" ng-click="displayFilterBox=!displayFilterBox" ng-class="{'icon-activated':displayFilterBox, '':!displayFilterBox}">
              <i class="fa fa-filter"></i>
            </div>
            <div class="btn page-action no-text list-icon icon" ng-click="options.displayResultList=!options.displayResultList">
              <i class="fa" ng-class="{'fa-chevron-left':options.displayResultList, 'fa-chevron-right':!options.displayResultList}"></i>
            </div>
            <div class="btn page-action no-text list-icon icon" ng-if="isAdminUser()" ng-click="copyToClipboard()">
              <i class="fa fa-clipboard"></i>
            </div>
          </div>
        </div>
      </li>
      <li class="{{::node.nodeID}}-filter-container property-title filter-container" ng-if="displayFilterBox" ng-include="templates.filterContainer"></li>
      <li id="{{::node.nodeID}}-{{::objectId}}-value" class="property-details property-value {{::node.nodeID}}-details {{::node.nodeID}}-value" ng-include="templates.dataContainer"></li>
    </ul>
  </div>
</div>
