/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.cwLayoutCustomQuery-wrapper {
  width: 99%;
}
.cwLayoutCustomQuery .cwLayoutCustomQuery-details {
  max-width: none;
}
.cwLayoutCustomQuery .cw-property-details-filter-right {
  display: inline;
}
.cwLayoutCustomQuery .cw-property-details-filter-right .icons-container {
  float: right;
}
.cwLayoutCustomQuery li.filter-container {
  list-style: none;
}
.cwLayoutCustomQuery li.filter-container .filter-cell {
  display: inline-flex;
  margin-right: 5px;
}
.cwLayoutCustomQuery li.filter-container .filter-value {
  color: initial;
  font-weight: initial;
  font-size: 12px;
}
.cwLayoutCustomQuery li.filter-container .filter-value span.label {
  margin-right: 5px;
}
.cwLayoutCustomQuery .btn.page-action.icon {
  color: #5c5d61;
}
.cwLayoutCustomQuery .btn.page-action.icon.icon-activated {
  color: #03a0ce;
}
.cwLayoutCustomQuery select.custom-query-viewby {
  width: initial;
}
.cwLayoutCustomQuery div.custom-query-result-container {
  display: inline-flex;
  width: 100%;
}
.cwLayoutCustomQuery div.custom-query-result-container .boostrap-iso .pagination {
  margin: 0;
}
.cwLayoutCustomQuery div.custom-query-result-chart {
  width: 80%;
}
.cwLayoutCustomQuery div.custom-query-result-chart .cwPropertiesTableContainer select {
  width: 200px;
  min-width: fit-content;
  margin: 5px 0px 5px 0px;
}
.cwLayoutCustomQuery div.custom-query-result-chart div.display-chart-option {
  display: inline-flex;
  width: 90%;
}
.cwLayoutCustomQuery div.custom-query-result-chart div.display-chart-option div.chart-options-container {
  width: 100%;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper {
  height: inherit;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .htmlbox-header.property-details,
.homePage_evolveView .cwLayoutCustomQuery-wrapper .display-chart-option {
  display: none !important;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .custom-query-result-container {
  height: inherit;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .custom-query-result-chart {
  height: inherit;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .property-details {
  height: inherit;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .htmlbox-container {
  height: inherit;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .chart,
.homePage_evolveView .cwLayoutCustomQuery-wrapper .chart-container,
.homePage_evolveView .cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-details,
.homePage_evolveView .cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery,
.homePage_evolveView .cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery > .ng-scope {
  height: inherit;
  width: 100%;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery div.custom-query-result-chart {
  width: 100%;
}
.homePage_evolveView .cwLayoutCustomQuery-wrapper ul.property-details li.property-details,
.homePage_evolveView .cwLayoutCustomQuery-wrapper div.property-box-asso {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
