@import "../../_mixins";
@import "../../_variables";

.cwLayoutCustomQuery {
  width: 100%;
  .cwLayoutCustomQuery-wrapper {
    width: 100%;
    height: 100%;
    background-color: @cwBodyBackgroundColor;
    display: flex;
    flex-direction: column;
    .select-box {
      display: block;
      padding: 5px;
      color: #5c5d61;
      font-size: 12px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      outline: none;
    }

    .cwLayoutCustomQuery-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid @cwColor1;
      height: 50px;
      .cwLayoutCustomQuery-header-displayname {
        font-size: 17px;
        font-weight: bold;
        color: @cwColor1;
        margin-left: 10px;
      }
      .icons-container {
        margin-right: 10px;
        .btn.page-action.icon {
          background-color: @cwColor1Tint;
        }
        .btn.page-action.icon.icon-activated {
          background-color: @cwColor1;
        }
      }
    }
    .cwLayoutCustomQuery-filter-container {
      border-bottom: 1px solid @cwColor1;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      .filter-wrapper {
        .filter-text {
          padding: 5px;
          color: #5c5d61;
          font-size: 12px;
          -moz-border-radius: 6px;
          -webkit-border-radius: 6px;
          border-radius: 6px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          outline: none;
          width: 100%;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          -o-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }

        .filter-content {
          width: 20rem;
        }
        .filter-value {
          width: 16rem;
        }
        .filter-operator {
          width: 7rem;
        }
        .filter-cell {
          margin: 0.1rem;
          text-align: center;
          vertical-align: middle;
          input[type="checkbox"] {
            margin: 0px;
          }

          .fa {
            color: @cwColor1;
          }
        }
      }
      .header-cell {
        text-align: center;
        font-weight: bold;
      }
      .add-filter-button {
        a.btn-add-filter {
          height: auto;
          width: auto;
          margin: 5px;
          color: @cwHomePageFavoriteTextColor;
        }
      }
    }

    .cwLayoutCustomQuery-settings-container {
      display: flex;
      border-bottom: 1px solid @cwColor1;
      .settings-container {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        span {
          font-size: 14px;
          font-weight: bold;
          color: #333;
          margin-bottom: 0.1rem;
        }
        .select-box {
          margin-top: 9px;
        }
      }
    }

    .cwLayoutCustomQuery-chart {
      display: flex;
      flex: 1 1 auto;
      height: 10px;
      width: 98%;
      margin-bottom: 1.25rem;
      .custom-query-result-list {
        flex: 0 0 25rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        .custom-query-result-list-items {
          margin-top: 1.25rem;
          flex: 1 1 auto;
          height: 10px;
          overflow-y: scroll;
          ul.cw-list {
            margin: 0px;
          }
        }
        .custom-query-result-list-footer {
          flex: 0 0 3rem;
          margin-top: 1.25rem;
          height: 30px;
          display: flex;
          justify-content: flex-start;
          align-items: start;
          .custom-query-result-list-footer-pagesNumber {
            width: 4rem;
            height: 30px;
            margin-left: 0.75rem;
          }
          ul {
            margin: 0;
          }
          .display-result {
            margin-left: 0.75rem;
            margin-top: 7px;
            margin-right: 0.75rem;
          }
        }
      }
      .custom-query-result-chart {
        flex: 1 1 auto;
        width: 10px;
        .chart {
          height: 100%;
        }
      }
    }
  }
}

.homePage_evolveView {
  .cwLayoutCustomQuery {
    height: 100%;
    .cwLayoutCustomQuery-wrapper {
      height: 100%;
      border: none;
      .cwLayoutCustomQuery-header {
        display: none !important;
      }
    }
  }
}
